aiofiles==0.6.0
aiohttp==3.7.4.post0
async-lru==1.0.2
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
dataclass-factory
idna
multidict
numpy
pyaes
pydub
Pyrogram
pyromod
PySocks
shazamio
TgCrypto
typing-extensions
unknown
yarl
